body {
	background: #E0D9C9 url(footballfoto11.jpg) no-repeat fixed top center;
	background-size: cover;
}

h1 {
	margin: 0;
	padding: 0;
	color: #3DD4B5;
	text-decoration: none;
}

a {
	text-decoration: none;
}

h2 {
	color: red;
}

A IMG {
	border: none;
}

.conteiner {
	height: 100%;
	width: 100%;
}

#zatemnenie {
	background: rgba(102, 102, 102, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	mix-blend-mode: saturation;
}

#okno {
	width: 45%;
	height: 45%;
	text-align: center;
	margin: 15px;
	border: 2px solid #000000;
	border-radius: 20px;
	color: #000000;
	font-size: 1.2em;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 5px 0px 5px 5px;
	background: #F2F2F2;
	overflow: hidden;
}

.top {
	height: 10%;
	padding-bottom: 0;
}

.top div {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#zatemnenie:target {
	display: block;
}

.close {
	display: inline-block;
	float: right;
	color: #0000cc;
	padding: none;
	margin: 5px;
	text-decoration: none;
	background: #f2f2f2;
	font-size: 14pt;
	cursor: pointer;
}

.close:hover {
	background: #e6e6ff;
}

#rules {
	max-height: 90%;
	width: 100%;
	overflow-y: auto;
}

#trapezoid {
	position: absolute;
	bottom: 0;
	text-align: center;
	position: relative;
	width: 300px;
	height: 50px;
	color: #DDD6C8;
	background: #DDD6C8;
}

/* #trapezoid:before, #trapezoid:after{
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50%;
	background: #DDD6C8;
	border-radius: 20px 20px 0 0;
	z-index: -1;
}

#trapezoid:before{
	left: -30px;
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

#trapezoid:after{
	right: -30px;
	-webkit-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
	transform: skewX(25deg);
} */